emailvision/rest.wadl

<?xml version="1.0" encoding="utf-16"?>
<!-- https://p5apic.emv2.com/apibatchmember/services/rest?_wadl&_type=xml -->
<application xmlns="http://wadl.dev.java.net/2009/02" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <grammars>
        <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:element name="column" type="column" />
            <xs:element name="dedup" type="dedup" />
            <xs:element name="insertUpload" type="insertUpload" />
            <xs:element name="mapping" type="mapping" />
            <xs:element name="mergeUpload" type="mergeUpload" />
            <xs:complexType name="insertUpload">
                <xs:complexContent>
                    <xs:extension base="upload">
                        <xs:sequence>
                            <xs:element name="autoMapping" type="xs:boolean" />
                            <xs:element minOccurs="0" ref="dedup" />
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType abstract="true" name="upload">
                <xs:sequence>
                    <xs:element minOccurs="0" name="dateFormat" type="xs:string" />
                    <xs:element minOccurs="0" name="fileEncoding" type="xs:string" />
                    <xs:element minOccurs="0" name="fileName" type="xs:string" />
                    <xs:element minOccurs="0" ref="mapping" />
                    <xs:element minOccurs="0" name="separator" type="xs:string" />
                    <xs:element name="skipFirstLine" type="xs:boolean" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="dedup">
                <xs:sequence>
                    <xs:element minOccurs="0" name="criteria" type="xs:string" />
                    <xs:element minOccurs="0" name="order" type="xs:string" />
                    <xs:element name="skipUnsubAndHBQ" type="xs:boolean" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="mapping">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="column" nillable="true" type="column" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="column">
                <xs:sequence>
                    <xs:element name="colNum" type="xs:int" />
                    <xs:element minOccurs="0" name="dateFormat" type="xs:string" />
                    <xs:element minOccurs="0" name="defaultValue" type="xs:string" />
                    <xs:element minOccurs="0" name="fieldName" type="xs:string" />
                    <xs:element name="toReplace" type="xs:boolean" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="mergeUpload">
                <xs:complexContent>
                    <xs:extension base="upload">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="criteria" type="xs:string" />
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
    </grammars>
    <resources base="http://p5apic.emv2.com/apibatchmember/services/rest">
        <resource path="/">
            <resource path="connect/close/">
                <method name="GET">
                    <request>
                        <param name="token" style="query" type="xs:string" />
                    </request>
                    <response>
                        <representation mediaType="*/*" />
                    </response>
                </method>
            </resource>
            <resource path="connect/close/{token}">
                <param name="token" style="template" type="xs:string" />
                <method name="GET">
                    </request>
                    <response>
                        <representation mediaType="*/*" />
                    </response>
                </method>
            </resource>
            <resource path="connect/open/">
                <method name="GET">
                    <request>
                        <param name="login" style="query" type="xs:string" />
                        <param name="password" style="query" type="xs:string" />
                        <param name="key" style="query" type="xs:string" />
                    </request>
                    <response>
                        <representation mediaType="*/*" />
                    </response>
                </method>
            </resource>
            <resource path="connect/open/{login}/{password}/{key}">
                <param name="login" style="template" type="xs:string" />
                <param name="password" style="template" type="xs:string" />
                <param name="key" style="template" type="xs:string" />
                <method name="GET">
                    </request>
                    <response>
                        <representation mediaType="*/*" />
                    </response>
                </method>
            </resource>
            <resource path="connect/openPartner/">
                <method name="GET">
                    <request>
                        <param name="login" style="query" type="xs:string" />
                        <param name="password" style="query" type="xs:string" />
                        <param name="partnerkey" style="query" type="xs:string" />
                    </request>
                    <response>
                        <representation mediaType="*/*" />
                    </response>
                </method>
            </resource>
            <resource path="connect/openPartner/{login}/{password}/{partnerkey}">
                <param name="login" style="template" type="xs:string" />
                <param name="password" style="template" type="xs:string" />
                <param name="partnerkey" style="template" type="xs:string" />
                <method name="GET">
                    </request>
                    <response>
                        <representation mediaType="*/*" />
                    </response>
                </method>
            </resource>
            <resource path="/batchmemberservice/{token}">
                <param name="token" style="template" type="xs:string" />
                <resource path="/batchmember">
                    <resource path="/getLastUpload">
                        <method name="GET">
                            <response>
                                <representation mediaType="*/*" />
                            </response>
                        </method>
                    </resource>
                    <resource path="/insertUpload">
                        <method name="PUT">
                            <request>
                                <representation mediaType="multipart/form-data" />
                                <representation mediaType="multipart/form-data" />
                            </request>
                            <response>
                                <representation mediaType="*/*" />
                            </response>
                        </method>
                    </resource>
                    <resource path="/mergeUpload">
                        <method name="PUT">
                            <request>
                                <representation mediaType="multipart/form-data" />
                                <representation mediaType="multipart/form-data" />
                            </request>
                            <response>
                                <representation mediaType="*/*" />
                            </response>
                        </method>
                    </resource>
                    <resource path="/{id}">
                        <param name="id" style="template" type="xs:long" />
                        <resource path="/getBadFile">
                            <method name="GET">
                                <response>
                                    <representation mediaType="*/*" />
                                </response>
                            </method>
                        </resource>
                        <resource path="/getLogFile">
                            <method name="GET">
                                <response>
                                    <representation mediaType="*/*" />
                                </response>
                            </method>
                        </resource>
                        <resource path="/getUploadStatus">
                            <method name="GET">
                                <response>
                                    <representation mediaType="*/*" />
                                </response>
                            </method>
                        </resource>
                    </resource>
                </resource>
                <resource path="/uploads/{page}">
                    <param name="page" style="template" type="xs:int" />
                    <method name="GET">
                        </request>
                        <response>
                            <representation mediaType="application/json;charset=utf-8" />
                            <representation mediaType="application/xml;charset=utf-8" />
                        </response>
                    </method>
                </resource>
            </resource>
        </resource>
    </resources>
</application>
